### Module imports:

In [58]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import requests
from datetime import date
from time import sleep
import glob
import numpy as np

### Import of the data from CSV:

In [59]:
path =r"DATA/summary_data.csv"

raw_data = pd.read_csv(path)

In [60]:
print(f"Size of the table is: {raw_data.shape}")

Size of the table is: (948, 8)

### Jobs filtering based on the key words:

In [61]:
to_be_deleted_raw = raw_data.loc[~(raw_data["name"].str.contains(r"(Data)|(Analyst)|(Machine)|(Business)|(Science)|(AI)")),"name"].unique()
to_be_deleted_raw = np.ndarray.tolist(to_be_deleted_raw)
to_be_deleted = []
for n in range(len(to_be_deleted_raw)):
    new_value = to_be_deleted_raw[n]
    to_be_deleted.append(new_value)

print(to_be_deleted)

['Software Development Engineer (Computer Vision)', 'Software Engineer', 'Software Engineer / SW DEVELOPER, new project in Vienna, 12 various positions', 'Software Developer', 'C+ Vývojář / Analytik', 'Application Software Developer in C+/Python (f/m/d)', 'C+ Developer', 'Python Developer', 'Python developer intern', 'HTML Developer', 'Python Engineer', 'Python Developer (m/f/x)', 'SQL Programmer', 'Senior Computer Vision Engineer', 'User Experience Researcher', 'Senior Software Engineer', 'Senior Perception Engineer', 'Senior Engineer, Software Tools (Hybrid)', 'Bioinformatics Software Engineer II', 'Software Engineer, Hardware Integrations', 'Senior System Engineer', 'Software Engineer, Rendering', 'Senior Sensor Fusion Engineer', 'Software Development Engineer III', 'Senior Software Engineer, Algorithms', 'Senior Software Engineer, 3D Vision and SLAM', 'Staff Computer Vision Engineer', 'Image Signal Processing SW Engineer', 'Funkční SW vývojář pro e-mobilitu / motor control', 'Software Engineer, MSK MIND', 'Associate Scientist, Translational Research', 'C+ Software Engineer, Simulation Engine', 'Python Developer (Home based/ Brno)', 'Front-end Developer Angular', 'Programátor jazyka java', 'Programátor C+, Qt', 'Softwarový inženýr', 'Junior Developer - Solution for Circular Economy', 'Software Engineer (Roku) - Video Experiences, Technology']

C:\Users\srnam\AppData\Local\Temp\ipykernel_15448\312862364.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  to_be_deleted_raw = raw_data.loc[~(raw_data["name"].str.contains(r"(Data)|(Analyst)|(Machine)|(Business)|(Science)|(AI)")),"name"].unique()

### Deleting all unnecessary job postings from the dataset:

In [62]:
length = len(to_be_deleted)

for n in range(length): 
    #print(to_be_deleted[n])
    raw_data.drop(raw_data.index[raw_data["name"]==to_be_deleted[n]], inplace=True)

In [63]:
raw_data = raw_data.reset_index(drop=True)
clean_data = raw_data.drop_duplicates()
#print(raw_data)
clean_data.shape

(742, 8)

In [64]:
clean_data["name"].value_counts()

Data Scientist                                                                          391
Big Data Engineer                                                                        32
Junior Data Scientist                                                                    28
Data Scientist - TikTok Account                                                          21
Machine Learning Engineer                                                                20
Data Scientist - Search                                                                  18
Senior Data Scientist for Time Series projects                                           17
Lead Data Scientist                                                                      17
Machine Learning SW Engineer                                                             17
Data Scientist, TikTok Creation and Consumption                                          17
Senior Data Scientist                                                                    15
Embedded SW Engineer - Machine Learning                                                  15
Junior Java Software Engineer (Big Data processing and Data Mining)                      12
Software developer in the field of Machine Vision                                        12
Full Stack Software Engineer (.NET and react.js), Data & Services, Locations Program     12
Data Science Engineer - ML Projects                                                      12
Data Scientist, Ads Analytics                                                            12
Data Scientist, Special Projects                                                         11
Data Scientist - Hybrid                                                                   8
Senior Data analyst/Scientist                                                             7
Data Scientist - Relationship discovery                                                   6
Data Scientist I                                                                          5
Data Analyst                                                                              5
Data Scientist II, Analytics                                                              4
Staff Data Scientist                                                                      3
Associate, Data Science                                                                   2
AI Engineer                                                                               2
Senior Data Engineer (Store No8 | Health & Wellness)                                      2
Senior Data Analyst                                                                       1
NLP Researcher (Data Scientist)                                                           1
Data Scientist, Tiktok Ads- Growth Marketing                                              1
Multi Asset  Quant/Data Scientist role                                                    1
Sr. Data Scientist                                                                        1
Data Scientist - Hybrid - Urgent                                                          1
Data Scientist - Risk Data Mining                                                         1
Data Engineer - Big Data + Digital Marketing                                              1
Business Intelligence Developers                                                          1
Python, Data Science and Machine Learning                                                 1
Data Engineer II                                                                          1
Data Crawling Engineer                                                                    1
Employee Benefits Underwriter - Data Analyst                                              1
Senior Machine Learning Engineer, Recommendation - US Tech Services                       1
Cloud Data Engineer | Renewable Energy Trading Firm | Boston                              1
Data Scientist (SAS)                                                                      1
Senior Software Engineer, Machine Learning Platform                                       1
Sr. Data Engineer                                                                         1
Tech Lead, Machine Learning Engineer, Recommendation & Algorithm                          1
Name: name, dtype: int64

In [65]:
#clear fo all data scientist
clean_data.loc[clean_data["name"] == "Machine Learning Engineer", "name"] = "Data Scientist"
clean_data.loc[clean_data["name"] == "Embedded SW Engineer - Machine Learning", "name"] = "Data Scientist"
clean_data.loc[clean_data["name"] == "Machine Learning SW Engineer", "name"] = "Data Scientist"
clean_data.loc[clean_data["name"] == "Data Science Engineer - ML Projects", "name"] = "Data Scientist"
clean_data.loc[clean_data["name"] == "Data Scientist, TikTok Creation and Consumption", "name"] = "Data Scientist"
clean_data.loc[clean_data["name"] == "Data Scientist - TikTok Account", "name"] = "Data Scientist"
clean_data.loc[clean_data["name"] == "Data Scientist - Search", "name"] = "Data Scientist"
clean_data.loc[clean_data["name"] == "Data Scientist, Ads Analytics", "name"] = "Data Scientist"
clean_data.loc[clean_data["name"] == "Associate, Data Science", "name"] = "Data Scientist"
clean_data.loc[clean_data["name"] == "Data Scientist - Relationship discovery", "name"] = "Data Scientist"
clean_data.loc[clean_data["name"] == "Data Scientist (SAS)", "name"] = "Data Scientist"
clean_data.loc[clean_data["name"] == "Data Scientist, Special Projects", "name"] = "Data Scientist"
clean_data.loc[clean_data["name"] == "Data Scientist - Hybrid", "name"] = "Data Scientist"
clean_data.loc[clean_data["name"] == "Data Scientist I", "name"] = "Data Scientist"
clean_data.loc[clean_data["name"] == "Data Scientist - Risk Data Mining", "name"] = "Data Scientist"
clean_data.loc[clean_data["name"] == "Data Scientist - Hybrid - Urgent", "name"] = "Data Scientist"
clean_data.loc[clean_data["name"] == "Multi Asset  Quant/Data Scientist role", "name"] = "Data Scientist"
clean_data.loc[clean_data["name"] == "Data Scientist, Tiktok Ads- Growth Marketing", "name"] = "Data Scientist"
clean_data.loc[clean_data["name"] == "NLP Researcher (Data Scientist)", "name"] = "Data Scientist"


#clear for all senior data scinetist
clean_data.loc[clean_data["name"] == "Senior Data analyst/Scientist", "name"] = "Senior Data Scientist"
clean_data.loc[clean_data["name"] == "Senior Data Scientist for Time Series projects", "name"] = "Senior Data Scientist"
clean_data.loc[clean_data["name"] == "Senior Data Engineer (Store No8 | Health & Wellness)", "name"] = "Senior Data Scientist"
clean_data.loc[clean_data["name"] == "Senior Machine Learning Engineer, Recommendation - US Tech Services", "name"] = "Senior Data Scientist"
clean_data.loc[clean_data["name"] == "Senior Software Engineer, Machine Learning Platform", "name"] = "Senior Data Scientist"
clean_data.loc[clean_data["name"] == "Python, Data Science and Machine Learning", "name"] = "Senior Data Scientist"
clean_data.loc[clean_data["name"] == "Data Scientist II, Analytics", "name"] = "Senior Data Scientist"
clean_data.loc[clean_data["name"] == "Sr. Data Scientist", "name"] = "Senior Data Scientist"

#clear for all lead data scientist
clean_data.loc[clean_data["name"] == "Software developer in the field of Machine Vision", "name"] = "Lead Data Scientist"
clean_data.loc[clean_data["name"] == "Tech Lead, Machine Learning Engineer, Recommendation & Algorithm", "name"] = "Lead Data Scientist"

#clear for all data analyst 
clean_data.loc[clean_data["name"] == "Employee Benefits Underwriter - Data Analyst", "name"] = "Data Analyst"

#clean for all Big data engineer
clean_data.loc[clean_data["name"] == "Junior Java Software Engineer (Big Data processing and Data Mining)", "name"] = "Big Data Engineer"
clean_data.loc[clean_data["name"] == "Full Stack Software Engineer (.NET and react.js), Data & Services, Locations Program", "name"] = "Big Data Engineer"
clean_data.loc[clean_data["name"] == "Data Engineer - Big Data + Digital Marketing", "name"] = "Big Data Engineer"
clean_data.loc[clean_data["name"] == "Cloud Data Engineer | Renewable Energy Trading Firm | Boston", "name"] = "Big Data Engineer"
clean_data.loc[clean_data["name"] == "Sr. Data Engineer", "name"] = "Big Data Engineer"
clean_data.loc[clean_data["name"] == "Data Engineer II", "name"] = "Big Data Engineer"

In [66]:
clean_data["name"].value_counts()

Data Scientist                      561
Big Data Engineer                    60
Senior Data Scientist                49
Lead Data Scientist                  30
Junior Data Scientist                28
Data Analyst                          6
Staff Data Scientist                  3
AI Engineer                           2
Senior Data Analyst                   1
Business Intelligence Developers      1
Data Crawling Engineer                1
Name: name, dtype: int64

In [67]:
# additional drop
print(f"Size of the table is: {clean_data.shape}")

Size of the table is: (742, 8)

In [68]:
clean_data = clean_data.drop_duplicates()
clean_data.shape

(742, 8)

In [69]:
clean_data["company_name"].value_counts()

LHH                   59
TikTok                42
HP                    39
NXP Semiconductors    32
Merkle DACH           27
                      ..
S3 Partners            1
TWO NIL                1
Opensignal             1
OmniML                 1
SkyHive                1
Name: company_name, Length: 100, dtype: int64

In [70]:
clean_data.loc[clean_data["location"] == "Praha", "location"] = "Hlavní město Praha, Česko"

clean_data.loc[clean_data["location"] == "New York, NY", "location"] = "New York, United States"  
clean_data.loc[clean_data["location"] == "New York City Metropolitan Area", "location"] = "New York, United States"

In [71]:
clean_data["location"].value_counts()

Hlavní město Praha, Česko    188
Brno                          49
Austin, TX                    46
New York, United States       35
Sunnyvale, CA                 29
                            ...
Downers Grove, IL              1
San Jose, CA                   1
Greater St. Louis              1
Raleigh, NC                    1
McLean, VA                     1
Name: location, Length: 62, dtype: int64

In [72]:
clean_data["date"].value_counts().sort_index()

2022-05-15    66
2022-05-16    65
2022-05-17    90
2022-05-18    78
2022-05-19    97
2022-05-20    65
2022-05-21    79
2022-05-22    56
2022-05-23    51
2022-05-24    95
Name: date, dtype: int64

### Saving the clean dataset to CSV for further analysis:

In [73]:
clean_data.to_csv("DATA/clean_data.csv", index=False)